:root {
    --main-green: #00CB54;
    --hover-green: #00983F;
    --color-body-text: #606065;
    --title-color: #202428;
    --bg-black: #1E2022;
    --white: #FFF;
    --color-gray: rgba(255,255,255, .5);
    --bg-gray: #F3F6FB;
    --bg-dark-black: #191919;
}
body {
    font-family: 'Work Sans', sans-serif;
    color: var(--color-body-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Maven Pro', sans-serif;
    color: var(--title-color);
}
h2 {font-size: 1.375rem;}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.btn-outline-success {
    color: var(--main-green);
    border-color: var(--main-green);
}
.color-green {
    color: var(--main-green);
}
.section-padding {
    padding: 70px 0;
}
.title-section {
    margin-bottom: 40px;
    padding-left:8px;
    border-left: 4px solid var(--main-green);
    text-transform: uppercase;
    font-size: 1.875rem;
}
.title-green-bottom:after {
    content: '';
    display: block;
    margin: 10px 0 0;
    width: 60px;
    height: 3px;
    background-color: var(--main-green);
}
.bg-gray {
    background-color: var(--bg-gray);
}
/*MAIN TOP*/
.top-info {
    background-color: var(--bg-black);
    color: var(--color-gray);
    border-bottom:2px solid var(--color-gray);
}
.top-info li {
    margin: 0 10px;
}
.top-info__social i {
    font-size: 1.5rem;
    color: var(--color-gray);

}
.top-info__login a {
    color: var(--color-gray);
}

@media (max-width: 768px){
    .top-info {
        display: flex;
        flex-direction: column;
    }
    .top-info ul {
        margin-bottom: 20px;
    }
}

/*NAVBAR*/
.navbar {
    background-color: var(--bg-black)!important;
}
.navbar-light .navbar-toggler {
    background-color: var(--main-green);
}
.navbar .nav-link {
    color: var(--white)!important;
}

/*HERO*/
.hero{

    background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
}

.hero__box_text {
    padding: 150px 0;
}
.hero__box_text h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--main-green);
    text-align: center;
}
.hero__box_text h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
}
.hero__box_text a {
    text-transform: uppercase;
}

/*BENEFITS*/
.benefits_item {
    text-align: center;
}
.benefits_item img {
    width: 42px;
    height: 42px;
    margin-bottom: 10px;
}

@media (max-width: 768px){
    .benefits_item {
        margin-bottom: 20px;
    }
}

/*VIDEOS*/
.plyr__control--overlaid, .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background-color: rgba(0, 203, 84, .8);
}
.plyr--full-ui input[type=range] {
    color: rgba(0, 203, 84, .8);
}

/*PLANS*/
.plans_item {
    background-color: var(--bg-gray);
    text-align: center;
}
.plans_item p{
    background-color: var(--main-green);
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}
.plans_item span {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
}
.plans_item a {
    margin-bottom: 20px;
}

@media (max-width: 768px){
    .plans_item {
        margin-bottom: 20px;
    }
}

/* HOW ITS WORK */
.how_its_work {
    padding: 150px 0;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/bg-how-it-works.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.how_its_work h1 {
    color: var(--white);
}

/*TESTIMONIAL*/
.testimonial .owl-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto 20px;
}
.testimonial .owl-item p {
    max-width: 300px;
    margin: 0 auto;
}
.testimonial .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--main-green);
} 

/* NEWSLETTER */
.newsletter {
    padding: 50px 0;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.5)), url(../img/newsletter.jpg);
}

.newsletter h1, .newsletter p {
    color: var(--white);
}

.newsletter input {
    border-radius: 0;
}
.newsletter input[type=email]{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.newsletter input[type=submit]{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*MAIN FOOTER*/
.main_footer {
    background-color: var(--bg-black);
    color: var(--white);
}
.main_footer h2 {
    color: var(--white);
}
.main_footer__social img, .main_footer__contact img {
    width: 30px;
    height: 30px;
    padding: 4px 7px 4px 7px;
    margin-right: 10px;
    background-color: var(--bg-gray);
    border-radius: 50%;
    text-align: center;
}
.main_footer__social i {
    color: var(--main-green);
}

.main_footer__contact a{
    color: var(--white);
    font-size: .8rem;
}

/*COPY*/
.copyright {
    padding: 20px 0;
    font-size: .8rem;
    background-color: var(--bg-dark-black);
}
.copyright p {
    margin: 0;
}